.banner {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	color: white;
	background-size: cover;
}

.text {
	width: 880px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 10px;
}

h1 {
	font-size: 60px;
	color: white;
}

h2 {
	color: black;
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

.rcontainer {
	display: flex;
	gap: 50px;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

.rsection {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

input:focus {
	outline: none;
}

.sbar svg {
	height: 80%;
	color: white;
}

.sbar input {
	width: 100%;
	font-size: 15px;
}

input {
	height: 45px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
}

.sbar {
	min-width: 250px;
	width: 30%;
	border-radius: 30px;
	border: none;
	background-color: palevioletred;
	display: flex;
	align-items: center;
	padding: 0 0 0 5px;
	box-sizing: border-box;
}
